/* 对齐辅助线样式 */

.guidelines-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.guideline {
  position: absolute;
  background: #ff00ff;
}

.guideline-vertical {
  width: 1px;
  height: 100%;
  top: 0;
}

.guideline-horizontal {
  height: 1px;
  width: 100%;
  left: 0;
}
